<div id="search-component">
    <div id="spacer"></div>
  
    <input #firstName id="search-box-name"  placeholder="Name"/>
    <input #lastName id="search-box-last" placeholder="Last name"/>
    <input #address id="search-box-addr" placeholder="Address"/>
    <input #phone id="search-box-phone" placeholder="phone number"/>
    <button class="btn btn-default glyphicon glyphicon-search" id="search" title="search" 
        (click)="search(firstName.value, lastName.value, address.value, phone.value)">
    </button>
        
    <button class="btn btn-default glyphicon glyphicon-remove" id="clear" title="clear search" 
        (click)="firstName.value=''; lastName.value=''; address.value=''; phone.value=''">
    </button>

    <ul class="search-result">
      <li *ngFor="let contact of contacts" >
        <a routerLink="/contacts/{{contact.id}}">
          {{contact.firstName}}{{contact.lastName}}{{contact.phone}}
        </a>
      </li>
    </ul>
</div>