<div class="container">
<table class="table-hover table-condensed">
  <tbody>
    <tr>
      <td>
        <input [(ngModel)]="contact.firstName" id="search-box-name" placeholder="Name"/>
      </td>
      <td>
        <input [(ngModel)]="contact.lastName" id="search-box-last" placeholder="Last name"/>
      </td>
      <td>
        <input [(ngModel)]="contact.address" id="search-box-addr" placeholder="Address"/>
      </td>
      <td>
        <input [(ngModel)]="contact.phone" id="search-box-phone" placeholder="Phone number"/>
      </td>
      <td>
          <button class="btn btn-default glyphicon glyphicon-search" id="search" title="search" 
              (click)="search()">
          </button>
      </td>
      <td>
        <button class="btn btn-default glyphicon glyphicon-remove" id="clear" title="clear search" 
            (click)="clear(); ">
        </button>
      </td>
  </tr>
  </tbody>
</table>
</div>