<div *ngIf="message" class="modal" tabindex="-1" role="dialog" style="display:block!important">  
    <div class="modal-dialog custom-alert" role="document">  
        <div class="modal-content">  
    
            <div *ngIf="message?.type == 'confirm'" class="modal-body">  
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="text-center confirm-title">{{message.head}}</p>  
                    </div>  
                </div>
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="text-center confirm-title">{{message.text}}</p>  
                    </div>  
                </div>
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="confirm-button">  
                            <a (click)="message.yesFn()">  
                                <button class="btn btn-yes">Ok</button>  
                            </a>
                        </p>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>  

